.image-card {
    /* width: 170px; */
    /* height: 260px; */
    /* padding: 15px; */
    /* align-content: center; */
    /* align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
    transition: transform .5s;
      
  }
    
  .preview-image {
    max-height: 300px;
    /* max-width: 500px; */
  }
    
  .table {
    min-height: 100px;
    min-width: 240px;
    margin-left: 5px;
      
  }
    
  td{
    border-top:0; 
    /* border-bottom:"1px solid $color-row-border"; */
    /* width: 50%; */
  }
    
  .left-div {
    margin-top: 10px;
    
  }
    
  .root-div {
    margin-top: 10px;
    height:300px;
    width: 100%;
    flex-flow:wrap;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    
    padding-left: 50px;
     
  }
    /* .right-div {
      float: left;
      width: 10%;
      margin-left: 20px;
    } */
    
  .image-card:hover {
    transform: scale(1.5);
  }
  
  .root-div1 {
    padding-left: 100px;
    width: 8%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* flex-flow: column; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* height:500px; */
    
      
       
  }
    
     