
<div class="example-container-new"><mat-drawer-container class="example-container">
    <mat-list>
        <mat-list-item class="alcat">All Catogories</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Biography</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Mystery</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Fantasy</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Romance</mat-list-item>
        
    </mat-list>
    
</mat-drawer-container>
<br>
<mat-drawer-container class="example-container2">
    <mat-list>
        <mat-list-item class="pf">Price Filter</mat-list-item>
        <mat-divider></mat-divider>
        
        
    </mat-list>
    <mat-slider  tickIntervel="2"></mat-slider>
    <h4 class="line"><b>$ 111.00  to    $ 55,555.00</b></h4>
</mat-drawer-container></div>
